.block-compilation {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > li {
    margin: 0;

    a {
      display: inline-block;
      color: $c-gray;
      margin: 0.5rem;
      padding: 0.5rem 1rem;
      background: transparentize($c-gray-invert, 0.5);

      &:hover {
        color: $color-link-hover;
        background: $c-gray-invert;
        text-decoration: none;
      }

    }

  }

}