.block-contact {
  margin-top: 4rem;
  margin-bottom: 4rem;

  @include media-breakpoint-down(md) {
    margin: 3rem auto;
  }

  strong {
    font-weight: 600;
  }

  .contact__item {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1rem;

    &-prop {
      font-weight: 600;
      min-width: 16rem;
      margin-right: 1rem;

      @include media-breakpoint-down(md) {
        text-align: right;
        min-width: 14rem;
      }

    }

    &-solid {

      @include media-breakpoint-down(md) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

    }

  }

}

.block-contactform {
  padding: 4rem 4rem 2rem 4rem;
  background-color: $c-gray-bk;

  @include media-breakpoint-down(md) {
    padding: 2rem 2rem 1rem 2rem;
  }

  form > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  input,
  textarea {
    padding: 1rem;
  }

  label {
    font-size: $font-size-basemed;
    color: $c-gray-light;

    @include media-breakpoint-down(md) {
      font-size: $font-size-basemed-md;
    }

    @include media-breakpoint-down(sm) {
      font-size: $font-size-basemed-sm;
    }

  }

}