.block-stepindicator {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 2rem 0 2rem 0;

  > li:not(.stepindicator__arrow)  {
    display: block;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    color: $c-white;
    border-radius: 50%;
    background-color: $c-gray;
    font-size: 2.8rem;

    @include media-breakpoint-down(sm) {
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      font-size: 2.1rem;
      font-weight: 500;
    }

    > a {
      display: block;
      width: 5rem;
      height: 5rem;
      line-height: 4.6rem;
      text-align: center;
      border: solid 2px $c-gray;
      border-radius: 50%;
      background-color: $c-white;
      color: $c-gray;

      @include media-breakpoint-down(sm) {
        width: 4rem;
        height: 4rem;
        line-height: 3.6rem;
      }

      &:hover {
        color: $c-gray-light;
        border-color: $c-gray-light;
        text-decoration: none;
      }

    }

  }

  .stepindicator__arrow {
    display: block;
    width: 3rem;
    height: 3rem;
    background: url("../img/a-step.svg") right center no-repeat;

    @include media-breakpoint-only(xs) {
      width: 2rem;
    }

  }

}


.plate-step {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: stretch;

  @include media-breakpoint-only(xs) {
    margin: 2rem -15px 2rem -15px;
  }

}

.block-step,
.block-step-one,
.block-step-two,{
  display: block;
  height: 100%;
  padding: 2rem 1rem;
  border-radius: 1rem;
  border: solid 1px $c-confcheck;
  cursor: pointer;
  color: $c-gray;

  @include media-breakpoint-only(xs) {
    padding: 1rem 0.5rem;
  }

  &.check {
    background-color: $c-gray-invert !important;
    border-color: $c-gray-invert;
    color: $c-black !important;

    .block-step__title {
      color: $c-black !important;

      &::before {
        font-family: $fontawesome;
        content: '\f00c';
        margin-right: 0.6rem;
        color: $c-blue !important;
      }

    }

  }

  &:hover {
    background-color: $c-gray-bk;
    color: $color-link-hover;
    text-decoration: none;
  }

  &.block-step--doortype {

    .block-step__img {
      height: 130px;

      @include media-breakpoint-down(sm) {
        height: 90px;
      }

    }

    .block-step__title {
      margin-top: 1rem;

      &.title--top {
        margin-top: 0;
        margin-bottom: 1.5rem;

        @include media-breakpoint-down(sm) {
          margin-bottom: 1rem;
        }

      }

    }

  }

  &.block-step--icolors {
    //padding-top: 0.5rem;

    @include media-breakpoint-down(sm) {
      padding-top: 0.5rem;
    }

    .block-step__img {
      width: 100%;
      height: auto;
      max-width: 200px;

      @include media-breakpoint-down(sm) {
        max-width: none;
      }

      img {
        width: 100%;
        height: auto;
      }

    }

    .block-step__title {
      //margin-top: 0;
    }

  }

  &__img {
    transition: $transition-all;
    align-self: center;
    width: 100%;
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(sm) {
      width: 80px;
    }

    img {
      width: 100%;
      height: auto;
    }

    &.side-l {
      display: block;

      img {
        //transform: rotateY(0deg);
      }

    }

    &.side-r {
      display: none;

      img {
        //transform: rotateY(180deg);
      }

    }

  }

  &__note {
    font-size: $font-size-fixed;
    text-align: center;
    //margin-top: 1rem;

    @include media-breakpoint-down(sm) {
      font-size: $font-size-fixed-sm;
    }

  }

  &__side {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0.5rem 1rem -0.5rem 1rem;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-right: 0;
    }

    .form-check-label {
      font-size: $font-size-fixed;
      line-height: 1;
      margin-bottom: 0.2rem;

      @include media-breakpoint-down(sm) {
        font-size: $font-size-fixed-sm;
      }

      @include media-breakpoint-only(xs) {
        margin-top: 0.1rem;
        margin-bottom: 0;

      }

    }

  }

  &__title {
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 2rem;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }

  }

  &.check &__title {
    color: $c-blue;
  }

}



.block-stepnote {
  font-size: $font-size-basemed;
  line-height: $line-height-p;
  text-align: center;
  margin-top: 0;
  margin-bottom: 4rem;

  @include media-breakpoint-down(md) {
    font-size: $font-size-basemed-md;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-basemed-sm;
  }

}

.block-steppic {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3rem;

  &__img {

    img {
      height: auto;
      max-height: 240px;
      width: 100%;
    }

  }

  &__title {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
  }

}

.block-stepcalc {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $c-gray-bk;
  padding: 2rem 3rem;
  height: 100%;

  @include media-breakpoint-down(lg) {
    padding: 1.5rem;
  }

  &__title {
    font-size: $font-size-basemax;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  label {
    display: block;
    color: $c-gray;
  }

  input {
    text-align: center;
    width: 6rem !important;
    font-weight: 500;
    line-height: 1;
    padding: 6px 3px;
  }

  &__input {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 320px;
  }

  &__select {
    margin-top: 1.5rem !important;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 320px;

    label {
      margin-bottom: 0.5rem !important;
    }

    select {
      font-weight: 500;
    }

  }

}

.stepcalc-sizes {
  display: none;
  padding-top: 1.5rem;
  justify-content: space-between;
  gap: 1rem;
  opacity: 0;
  transition: 1s;

  &.active {
    display: flex;
    flex-wrap: nowrap;
    opacity: 1;
    transition: 1s;
  }

  &__img {
    flex: 1 1 50%;

    img {
      width: 100%;
      max-width: 118px;
      height: auto;
    }

  }

  &__sizes {
    flex: 1 1 50%;

    .sizes__input {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      width: 100%;
    }

  }

}

.block-stepoptions {
  margin-top: 2rem;

  &__ignoreh {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    @include media-breakpoint-only(xs) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

  }

  &__state {
    display: flex;
    justify-content: center;
    gap: 4rem;

    .form-check {
      margin-bottom: 1rem;
    }

    @include media-breakpoint-only(xs) {
      gap: normal;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

  }

}



.block-stepbtn {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}



.block-stepreq {
  margin-top: 3rem;

  .stepreq-plate {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-only(xs) {
      max-width: 100%;
    }

  }

  .stepreq__item {
    display: flex;
    align-items: center;
    margin: 2rem auto;
    cursor: pointer;

    > div {
      flex: 1 1 99%;
    }

    .item-icon {
      flex: 1 1 auto;
      width: 87px;
      min-width: 87px;;
      height: 60px;
      min-height: 60px;
      margin-right: 10px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
    }

    &.item--gc .item-icon {
      background-image: url("../img/ch-gc.svg");
    }

    &.item--orn .item-icon {
      background-image: url("../img/ch-orn.svg");
    }

  }

  .stepreq__item.check {

    &.item--gc .item-icon {
      background-image: url("../img/ch-gc-check.svg");
    }

    &.item--orn .item-icon {
      background-image: url("../img/ch-orn-check.svg");
    }

  }

}

.plate-step-color,
.plate-step-dop {
  width: 100%;
  margin: 2rem 0;
  padding: 2rem 4rem;
  background-color: $color-bk-gray;

  @include media-breakpoint-down(md) {
    margin: 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 2rem 2rem 0.5rem 2rem;
  }

  h3 {
    margin-bottom: 3rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }

  }

  .block-step-color {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2rem 0;
  }

  .step-color {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__input {
      width: 2rem;
      height: 2rem;
      margin-right: 1.6rem;

      @include media-breakpoint-down(md) {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 1rem;
      }

    }

    label {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }

    &__color {
      width: 2.2rem;
      height: 2.2rem;
      min-width: 2.2rem;
      min-height: 2.2rem;
      border-radius: 50%;
      border: 1px solid #FFFFFF;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
      margin-right: 0.8rem;

      @include media-breakpoint-down(md) {
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
      }

    }

    &__title {
      color: $c-gray;
      text-transform: uppercase;
      font-weight: 500;
      white-space: nowrap;
      margin-top: 2px;
    }

  }

  .step-color-help {
    width: 2.4rem;
    height: 2.4rem;
    background: $c-white;
    border: solid 1px $c-gray-invert;
    border-radius: 50%;
    color: $c-gray-light;
    text-align: center;
    cursor: pointer;

    &:before {
      content: "?";
      line-height: 2.2rem;
    }

  }

  .step-color-dropdown {
    text-align: center;
    font-size: $font-size-base;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 1rem;
    border: solid 1px $c-border;
    border-radius: $border-radius;
    background-color: $c-white;
    box-shadow: 0 4px 16px 0px rgba(0, 0, 0, 0.33);

    picture {
      font-size: $font-size-base;
      font-weight: 500;
      text-transform: uppercase;
      white-space: nowrap;
      display: block;
    }

    img {
      width: 200px;
      height: auto;
      display: block;
      margin-bottom: 0.7rem;
    }

  }

}

.plate-step-dop {
  //width: 80%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;

  @include media-breakpoint-down(md) {
    margin-top: 2rem;

    .span--dot {
      display: none;
    }

  }

  .step-color__title {
    text-transform: inherit;
    white-space: normal;
  }

}





















