[class*="-ground-pane"] {
  filter: contrast(120%);
  filter: grayscale(88%);
}


.block-mymap-idx {
  width: 100%;
  height: 400px;
  padding: 0 0 0 3rem;

  @include media-breakpoint-down(md) {
    padding: 0;
    margin: 4rem 0 0 0;
  }

}


.block-mymap-idx {
  width: 100%;
  height: 400px;
  padding: 0 0 0 3rem;

  @include media-breakpoint-down(md) {
    padding: 0;
    margin: 4rem 0 0 0;
  }

}

.block-wtbmap {
  margin-top: 4rem;
  width: 100%;
  height: 700px;

  @include media-breakpoint-down(md) {
    height: 400px;
  }

  @include media-breakpoint-down(sm) {
    height: 300px;
  }

  @include media-breakpoint-only(xs) {
    height: 550px;
  }


}