.block-productgallery {
  position: relative;
  margin-bottom: 4rem;

  .productgallery__label {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;

    .label_action {
      position: absolute;
      width: 60px;
      height: 60px;
      top: -2px;
      left: -2px;

      &.label_action--new {
        background: url("../img/ipl-new.png") no-repeat;
      }

      &.label_action--sale {
        background: url("../img/ipl-sale.png") no-repeat;
      }

    }

    .label_72h {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0.5rem;
      right: 0.5rem;
      background: transparentize($c-blue, 0.25) url("../img/ipl-72h.svg") center center no-repeat;
      backdrop-filter: blur(4px);
      border-radius: 50%;
      border: solid 1px $c-white;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }

  }

  .productgallery__pic-72h {
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 555;
    width: 50px;
    height: 50px;
    background: transparentize($c-gray, 0.5) url("../img/72h.svg") center center no-repeat;
    backdrop-filter: blur(5px);

    @include media-breakpoint-down(sm) {
      width: 40px;
      height: 40px;
      left: 41px;
    }

    &:hover {
      background-color: $c-gray;
    }

  }

  .productgallery__pic {

    @include media-breakpoint-only(xs) {
      margin-left: -15px;
      margin-right: -15px;
    }


    .slick-list {
      margin: 0;
    }

    .slick-slide {
      margin: 0;

      @include media-breakpoint-down(md) {
        margin-left: 5px;
        margin-right: 5px;
      }

    }

  }

  img {
    width: 100%;
    height: auto;
    z-index: 1;
    border: solid 1px $color-border;
  }

  .productgallery__pic-mini {
    margin-top: 10px;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      display: none;
    }

    img {
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }

    }

    .slick-list {
      border-left: solid 1px $color-border;
      border-right: solid 1px $color-border;
    }

    .slick-slide {
      margin-left: 2px;
      margin-right: 2px;
      padding: 3px;
      cursor: pointer;
    }

    .slick-current {
      background: $c-border;

      img {
        opacity: 1;
        border-color: $c-white;
      }

    }

  }

  .slick-prev,
  .slick-next {
    margin-left: 1rem;
    margin-right: 1rem;
  }

}


.block-productcart {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  .productcart-l {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-right: 1rem;
  }

  .productcart-r {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-left: 1rem;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
    }

  }

  i {
    display: block;
    width: 2.7rem;
    height: 2.7rem;
    text-align: center;
    line-height: 2.7rem;
    background-color: $c-white;
    color: $c-gray;
    margin-right: 0.5rem;
    font-size: 1.5rem;

    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }

  }

}

.productcart__btns {
  margin-bottom: 2rem;

  @include media-breakpoint-only(xs) {
    margin-bottom: 0.5rem;
  }

  &-bcompare,
  &-bfav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: $c-gray-light;
    font-size: $font-size-basemin;
    border: none;
    background: none;
    margin: 0 auto 1px 0;
    padding: 0;

    @include media-breakpoint-down(md) {
      font-size: $font-size-basemin-md;
    }

    @include media-breakpoint-down(sm) {
      font-size: $font-size-basemin-sm;
    }

    &:before {
      width: 27px;
      height: 27px;
      border-radius: 50%;
      background: $c-white;
      color: $c-gray;
      line-height: 27px;
      text-align: center;
      font-family: $fontawesome;
      font-weight: 300;
      font-size: 17px;
      margin-right: 0.6rem;
    }

    span:before {
      content: " добавить ";
    }

    &:hover {
      color: $color-link-hover;
    }

    &.active {
      color: $color-link-hover;

      &:before {
        color: $c-gray-invert;
        background: $c-gray;
      }

      span:before {
        content: "добавлено ";
      }

    }

  }

  &-bcompare:before { content: "\f516"; font-size: 15px; }

  &-bfav:before { content: "\f004"; }

}

.productcart__region {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: $c-gray;
  text-decoration: none;
  line-height: 1;
  margin-bottom: 2rem;
  white-space: nowrap;

  @include media-breakpoint-only(xs) {
    margin-bottom: 1rem;
  }

  span {
    border-bottom: solid 1px $color-border;

    &:hover {
      border-color: transparent;
    }

  }

  &:hover {
    text-decoration: none;
  }

}

.productcart__serv {
  margin-bottom: 2rem;
  transition: $transition-all;

  > a:hover {
    text-decoration: none;

    * {
      color: $color-link-hover !important;
    }

  }

  [class*="productcart__serv-"] {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 0.5rem;

    @include media-breakpoint-only(xs) {
      margin-bottom: 0;
    }

    span {
      color: $c-gray-light;
      font-size: $font-size-basemed;
      margin-right: 0.5rem;

      @include media-breakpoint-down(md) {
        font-size: $font-size-basemed-md;
      }

      @include media-breakpoint-down(sm) {
        font-size: $font-size-basemed-sm;
      }

    }

    strong {
      font-weight: 500;
      white-space: nowrap;
    }

    .fa-ruble-sign {
      width: auto;
      height: auto;
      font-size: 1.3rem;
      margin-left: 0.3rem;
      line-height: 1;
      color: $c-blue;

      @include media-breakpoint-only(xs) {
        font-size: 1.2rem;
      }

    }

  }

}

.productcart__price {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  font-size: $font-size-h2-md;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 5rem;

  @include media-breakpoint-down(sm) {
    margin-bottom: 2.5rem;
    font-size: $font-size-h2-sm;
  }

  i {
    font-size: $font-size-h3-md;
    font-weight: 400;
    width: auto;
    height: auto;
    margin-left: 0.5rem;

    @include media-breakpoint-down(sm) {
      font-size: $font-size-h3-sm;
    }

  }

}

.productcart__tocart {
  width: 80%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2.7rem;

  @include media-breakpoint-only(xs) {
    margin-bottom: 2rem;
  }

}

.productcart__oneclick {
  width: 80%;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: $font-size-basemed;
  white-space: nowrap;
}


.block-productwarn {
  display: block;
  font-size: $font-size-basemed;
  color: $c-gray;
  padding-left: 3.5rem;

  @include media-breakpoint-down(md) {
    font-size: $font-size-basemed-md;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-basemed-sm;
    margin-top: 1rem;
  }

  &:hover {
    text-decoration: none;
  }

  i {
    font-size: 1.8rem;
    width: 2.8rem;
    margin-right: 0.5rem;
    text-align: center;
    color: $c-red;
    margin-left: -3.5rem;
    position: relative;
    top: 0.1rem;
  }

}


.block-productdescript {
  margin-top: 3rem;

  > .row {
    margin-bottom: 0.4rem;
  }

  [class*="col-"] {
    display: flex;
    align-items: flex-end;
    padding-left: 0;
    padding-right: 0;

    @include media-breakpoint-only(md) {
      padding-left: 5px;
      padding-right: 5px;
    }

    @include media-breakpoint-only(xs) {
      padding-left: 5px;
      padding-right: 5px;
    }

  }

}

.productdescript__title {
  width: 100%;
  font-size: $font-size-basemed;
  color: $c-gray-light;
  padding: 0.5rem;
  border-bottom: solid 1px transparentize($color-border, 0.5);
  margin-left: 5px;

  @include media-breakpoint-only(md) {
    border-bottom: none;
    margin-left: 0;
    padding-bottom: 0;
  }

  @include media-breakpoint-only(xs) {
    border-bottom: none;
    margin-left: 0;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(md) {
    font-size: $font-size-basemed-md;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-basemed-sm;
  }

}

.productdescript__name {
  width: 100%;
  padding: 0.8rem 0 0.5rem 0.5rem;
  margin-right: 5px;
  border-bottom: solid 1px $color-border;

  @include media-breakpoint-only(md) {
    padding-top: 0.2rem;
    margin-right: 0;
  }

  @include media-breakpoint-only(xs) {
    padding-top: 0.2rem;
    margin-right: 0;
  }

  &.selector {
    border-bottom: solid 1px transparentize($c-blue, 0.5);
  }

}


.product-tabs {
  max-width: $m-max;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  border-bottom: none;
  position: relative;
  z-index: 2;

  @include media-breakpoint-down(md) {
    justify-content: center;
    flex-wrap: wrap;
  }


  > li {
    margin: 0;

    > button {
      font-size: $font-size-base;
      color: $c-gray-light;
      background-color: transparent;
      border: none;
      padding: 1rem 2rem;
      margin: 0;
      transition: none;
      border-top: solid 2px transparent;
      border-left: solid 1px transparent;
      border-right: solid 1px transparent;
      line-height: 1.1;
      height: 100%;

      @include media-breakpoint-down(md) {
        padding: 0.8rem 1.5rem;
        margin: 0 1rem;
      }

      @include media-breakpoint-only(xs) {
        margin: 0 0.5rem;
      }

      &:hover {
        color: $c-gray;
      }

      &.active {
        color: $c-gray;
        font-weight: 600;
        border-top: solid 2px $c-gray;
        border-left: solid 1px $c-border;
        border-right: solid 1px $c-border;
        background: $c-gray-bk;

        @include media-breakpoint-down(md) {
          margin-bottom: auto;
          border-top: solid 1px $c-border;
          border-left: solid 1px $c-border;
          border-right: solid 1px $c-border;
          border-bottom: solid 2px $c-gray;
        }

      }

    }

  }

}

.product-tab-content {
  min-height: 10rem;
  position: relative;
  z-index: 1;
  border-top: solid 1px $color-border;
  margin-top: -1px;
  padding-top: 5rem;
  padding-bottom: 6rem;

  @include media-breakpoint-down(md) {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-color: transparent;
    margin-top: 1rem;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

}


.productvariants-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @include media-breakpoint-only(xs) {
    display: block;
  }

}



.productvariants-table {
  margin-top: 2rem;
}

.productvariants-table__filter {
  font-size: $font-size-basemed;
  color: $c-gray-light;
  margin-bottom: 1rem;

  @include media-breakpoint-down(md) {
    font-size: $font-size-basemed-md;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-basemed-sm;
  }

  .filter__title {
    margin-bottom: 0.5rem;
  }

  .filter__body {
    display: flex;
    flex-wrap: nowrap;

    @include media-breakpoint-only(xs) {
      display: block;
    }

    > div {
      width: 36%;
      margin-right: 2rem;

      @include media-breakpoint-only(xs) {
        width: 80%;
        margin-bottom: 0.5rem;
      }

    }

  }




}


























