// product colors

.pc--uncolored 		{ background: #FFFFFF url("../img/uncolor.svg") center center; } 	//бесцветный
.pc--white-matte 	{ background: #E5E5E5; } 														        // белый матовый
.pc--white-blchd   { background: #F3F3F3; } 														        // выбеленный
.pc--matte 				{ background: #DDDDDD; }														        // матовый
.pc--chrom-brlnt 	{ background: #C2C6C9; }														        // хром блестящий
.pc--chrom-matte 	{ background: #A3A7AB; }														        // хром матовый
.pc--grafite 			{ background: #444444; }														        // грофит
.pc--grafite-matte { background: #555555; }														        // графит матовый
.pc--black-matte 	{ background: #111111; }														        // черный матовый
.pc--bronze			 	{ background: #8A8266; }														        // бронзовый
.pc--bronze-matte 	{ background: #8B8170; }														        // бронзовый матовый
.pc--gold-galv		 	{ background: #DFC746; }														        // золотой гальваник
.pc--gold-metal	 	{ background: #DBB000; }														        // золотой металл

.pc--none {
  display: none !important;
}

.product-color {
  float: left;
  display: inline-block;
  width: 1.9rem;
  height: 1.9rem;
  min-width: 1.9rem;
  min-height: 1.9rem;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.33);
  margin-right: 0.8rem;

  @include media-breakpoint-only(xs) {
    width: 1.7rem;
    height: 1.7rem;
    min-width: 1.7rem;
    min-height: 1.7rem;
    margin-right: 0.5rem;
    position: relative;
    top: -1px;
  }

}


