.block-search {
  margin: 4rem auto 0 auto;
  text-align: center;

  h3 {
    font-weight: 700;
    margin-bottom: 3rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 1.5rem;
    }

    @include media-breakpoint-down(sm) {
      font-size: 2.1rem !important;
      margin-bottom: 1rem;
    }

  }

  &__catalog-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;

    @include media-breakpoint-down(md) {
      margin-left: 5%;
      margin-right: 5%;
    }

    @include media-breakpoint-only(xs) {
      margin-left: 0;
      margin-right: 0;
    }


    &__btn {
      height: 5rem;
      width: 8rem;
      background: transparent url("../img/lupa-catalog.svg") 70% center no-repeat;
      color: transparent;
      border: none;
      border-radius: 3px;
      margin-left: -8.3rem;
      transition: background-color $transition-all, color $transition-all;

      @include media-breakpoint-down(md) {
        height: 4.4rem;
        width: 6rem;
        margin-left: -6.3rem;
      }

      &:hover {
        background: $color-bk-hover;
        color: $color-link-hover;
      }

      &.active {
        background: $color-link;
        color: $c-white;

        &:hover {
          background: $color-link-hover;
          color: $c-white;
        }

      }

    }

    &__fld {
      height: 5.6rem;
      width: 100%;
      background: $c-white;
      border: solid 1px $color-border;
      border-radius: $border-radius;
      font-size: $font-size-base;
      padding-left: 1rem;
      padding-right: 8rem;

      @include media-breakpoint-down(md) {
        height: 5rem;
      }

    }

  }

}

