.block-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-basemed;
  color: $c-gray-light;
  margin-bottom: 1.5rem;

  @include media-breakpoint-down(md) {
    font-size: $font-size-basemed-md;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-basemed-sm;
  }

  .tools__val {
    white-space: nowrap;

    .val {
      color: $c-gray;
    }

  }

  select {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;

    @include media-breakpoint-down(sm) {
      background: $c-gray-bk;
      padding: 0.2rem 0.8rem 0.4rem 0.8rem;
      border-radius: $border-radius;
    }

  }

}
















