.block-wrongsetup {
  margin-top: 6rem;
  margin-bottom: 6rem;

  h3 {
    line-height: $line-height-base;
  }

  h4 {
    font-size: $font-size-basemax;
    font-weight: 400;

    @include media-breakpoint-down(md) {
      font-size: $font-size-basemax-md;
    }

    @include media-breakpoint-down(sm) {
      font-size: $font-size-basemax-sm;
    }

  }

  .wrongsetup__l {
    background: $c-gray-bk;
    padding: 2rem;
    height: 100%;

    img {
      width: 100%;
      max-width: 49rem;
      height: auto;
    }

  }

  .wrongsetup__r {
    background: $c-gray;
    color: $c-white;
    padding: 2rem;

    img {
      width: 100%;
      height: auto;
    }

    .wrongsetup-slider {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      max-width: 50rem;
    }

    .wrongsetup-slider .slick-list {
      margin-bottom: 4rem;
    }

    .wrongsetup-slider .slick-dots li button:before {
      color: $c-white;
    }

  }



}

