.modal.show {
	padding-right: 17px;
	padding-left: 17px;

	@include media-breakpoint-down(md) {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

}

.modal-dialog {
	margin-top: 5rem;

	.btn-close {
		position: absolute;
		top: 1.5rem;
		right: 2rem;
		width: 20px;
		height: 20px;
		z-index: 9999;

		@include media-breakpoint-down(md) {
			top: 1.5rem;
			right: 1.5rem;
			width: 10px;
			height: 10px;
		}

	}

	.modal-content {
		padding: 0;
		background: $color-bk-modal;
		color: $c-gray;
		border-radius: 0;
		position: relative;
	}

	.modal-header {
		position: relative;
		padding: 1rem 2rem;
		margin: 0;
		color: $c-gray-light;
		border-color: transparent;
		background: $c-white;
		font-size: $font-size-basemax;
		font-weight: 700;
		line-height: $line-height-h;

		h3 {
			margin: 0;
			color: $c-gray;
		}

	}

	.modal-body {
		padding: 2rem;
		overflow-y: auto;
		@include clearfix;

		label {
			margin-top: 0.3rem;
			margin-bottom: 0.3rem;
		}

	}

	.modal-body__note {
		font-size: $font-size-basemed;
		margin-bottom: 2rem;

		@include media-breakpoint-down(md) {
			font-size: $font-size-basemed-md;
		}

		@include media-breakpoint-down(sm) {
			font-size: $font-size-basemed-sm;
		}

	}

}



.modal--cart {

	.modal-dialog {
		width: 80%;
		max-width: $m-max;

		@include media-breakpoint-down(lg) {
			width: 100%;
		}

		@include media-breakpoint-down(md) {
			width: auto;
		}

	}

	.block-cart {
		padding-top: 0;
		padding-bottom: 2rem;
		margin: 0 0 2rem 0;
	}

	.cartitem__pic {
		margin-right: 1rem;
	}

	.cartbtns {

		input[type="tel"] {
			flex: 1 1 8rem;
			margin: 0 1rem;
			max-width: 25rem;

			@include media-breakpoint-down(sm) {
				width: 100%;
				height: 4rem;
				max-width: none;
				margin: 0 0 1rem 0;
			}

		}

		.btn--contour {
			margin-right: 3rem;

			@include media-breakpoint-down(sm) {
				margin: 0 0 1.5rem 0;
			}

		}

		.note {
			margin-top: 2rem;
		}

		.blink {

			@include media-breakpoint-down(sm) {
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				margin-top: 2rem;
			}

		}

	}

}









