.sc_page {

  &.sc--gray {
    background-color: $color-bk-gray;
  }

}


.sc_idx-main {
  padding-top:  0;
  padding-bottom: 0;
}

.sc_idx-search {
  padding-top:  0;
  padding-bottom: 0;
}

.sc_idx-product {
  padding-bottom: 0;
}

.sc_idx-actions {

}

.sc_idx-advmain {
  background: $c-gray;
  padding-top:  0;
  padding-bottom: 0;
}

.sc_idx-matrix {
  padding: 10px 10px 0 10px;
}

.sc_idx-reference {
  background: $c-gray-bk;
}

.sc_idx-professional {
  padding-top: 0;
  padding-bottom: 0;
}

.sc_idx-about {

}

.sc_idx-map {
  padding-top: 0;
}

.sc_productlist-filter {
  padding: 6rem 0 0 0;
  background: $c-gray-bk;
}

.sc_productlist-compilation {
  background: $c-gray-bk;
}

.sc_productlist-descript {
  padding-bottom: 0;
}

.sc_productlist-faq {

}


.sc_productgallery {
  padding-top: 8rem;

  @include media-breakpoint-only(md) {
    padding-top: 7rem;
  }

  @include media-breakpoint-only(sm) {
    padding-top: 6rem;
  }

  @include media-breakpoint-only(xs) {
    padding-top: 5rem;
  }

}


.sc_producttablist {
  padding-top: 0;
  padding-bottom: 0;
}

.sc_producttabs {
  background: $c-gray-bk;
  padding-top: 0;
  padding-bottom: 0;
}


.sc_productcategory {
  padding-top: 6rem;
}

.sc_productrecommend {
  padding-top: 0;
}

.sc_productwatched {
  padding-top: 0;
}


.sc_wtbfilter {
  background: $c-gray-bk;
}

.sc_wtblist {
  padding-top: 6rem;

  @include media-breakpoint-down(md) {
    padding-top: 4rem;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 3rem;
  }

}

.sc_wtbmap {
  padding: 0;
}

.sc_dealermap {
  padding: 0;
}

.sc_configurator {
  min-height: 60vh;
}

.sc_form-resultsearch {
  background: $c-gray-bk;
  padding-bottom: 2rem;
}

.sc_resultsearch {
  min-height: 40vh;
  padding-top: 3rem;
}

.sc_productlist-rootcategory {
  background: $c-gray-bk;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.sc_compare {
  background: $c-gray-bk;
}

.sc_productcategory-filter {
  background: $c-gray-bk;
  padding-top: 5rem;
  padding-bottom: 0.1rem;

  @include media-breakpoint-down(md) {
    padding-top: 6.2rem;
  }

}

.sc_portfolio {
  padding-left: 0;
  padding-right: 0;
}

.sc_configurator-product {
  padding-bottom: 0;
}

.sc_configurator-productlist {
  padding-top: 3rem;
}

.sc_cart {
  min-height: 60vh;
}

.sc_order {
  min-height: 60vh;
  padding-bottom: 2rem;
}

.sc_cabinet {
  min-height: 60vh;
  padding-bottom: 2rem;
}

.sc_newslist {
  min-height: 60vh;
}

.sc_news {
  min-height: 60vh;
  padding-bottom: 0;
}

.sc_bottomtool {
  padding-top: 8rem;
}

.sc_exhibitionlist {
  min-height: 60vh;
}

.sc_exhibition {

}

.sc_exhibitionpics {
  padding-top: 0;
  padding-bottom: 0;
}

.sc_downloadlist {
  min-height: 60vh;
}

.sc_pagematrix {
  padding-bottom: 0;
}

.sc_clflex {
  overflow: hidden;
  padding: 0;
}

@include media-breakpoint-down(md) {

  .sc_clflex + .pagesection {
    padding-top: 3rem;
  }

}
