.sc_idx-main {
  padding-top:  0;
  padding-bottom: 0;
}

.sc_idx-search {
  padding-top:  0;
  padding-bottom: 0;
}

.sc_idx-product {
  padding-bottom: 0;
}

.sc_idx-actions {

}

.sc_idx-advmain {
  background: $c-gray;
  padding-top:  0;
  padding-bottom: 0;
}

.sc_idx-matrix {
  padding: 10px 10px 0 10px;
}

.sc_idx-reference {
  background: $c-gray-bk;
}

.sc_idx-professional {
  padding-top: 0;
  padding-bottom: 0;
}

.sc_idx-about {

}

.sc_idx-map {
  padding-top: 0;
}

.sc_productlist-filter {
  padding: 7rem 0 0 0;
  background: $c-gray-bk;
}

.sc_productlist-compilation {
  background: $c-gray-bk;
}

.sc_productlist-descript {
  padding-bottom: 0;
}

.sc_productlist-faq {

}