button {
	transition: $transition-all;
}

button.disabled,
button.disabled:hover {
	background-color: $c-gray-light;
	color: $c-black;
	box-shadow: none;
}

.b-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1.5rem 2rem;
	min-width: 12rem;
	border: none;
	background: $c-gray;
	border-radius: 0;
	color: $c-white;

	&:hover {
		background: $c-black;
	}

	@include media-breakpoint-down(md) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		font-size: $font-size-base;

		span {
			display: none;
		}

	}

	@include media-breakpoint-only(xs) {
		width: 100% !important;
	}

	&.btn--blue {
		background: $c-blue;

		&:hover {
			background: $c-gray;
		}

	}

	&.btn--contour {
		background: $c-white;
		color: $c-blue;
		border: solid 1px transparentize($c-blue, 0.5);

		&:hover {
			background: $c-white;
			color: $c-black;
			border-color: transparentize($c-black, 0.5);
		}

	}



	i {
		position: relative;
		top: 0.1rem;
		margin-right: 0.6rem;
	}

}



.b-more {
	display: block;
	text-align: center;
	font-size: $font-size-basemed;
	background: $c-white;
	color: $c-gray;
	border: solid 1px $color-border;
	padding: 1rem;
	margin-bottom: 1.5rem;
	text-decoration: none;

	@include media-breakpoint-down(md) {
		font-size: $font-size-basemed-md;
	}

	@include media-breakpoint-down(sm) {
		font-size: $font-size-basemed-sm;
	}

	&:hover {
		background: $c-gray-bk;
		color: $color-link-hover;
		text-decoration: none;
	}

}







