p {
  margin-bottom: 1rem;
}

.p {
  line-height: $line-height-p;
}

.span--overflow {
  overflow: hidden;
}

.note {
  font-size: $font-size-basemed;
  color: $c-gray-light;

  @include media-breakpoint-down(md) {
    font-size: $font-size-basemed-md;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-basemed-sm;
  }

}

.panel-breadcrumb {
  position: absolute;
  top: 4.4rem;
  left: 0;
  right: 0;
  z-index: 999;
  background: $c-tool;
  backdrop-filter: blur(10px);
  color: $c-fixbar-gray;
  padding: 0 15px;
  font-size: $font-size-basemed;

  @include media-breakpoint-down(md) {
    font-size: $font-size-basemed-md;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-basemed-sm;
  }

  .breadcrumb__hdr {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: 4rem;
    font-weight: 600;
    caret-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;

    &:after {
      font-family: $fontawesome;
      content: "\f077";
      font-weight: 400;
      margin-left: 0.8rem;
    }

    &.collapsed {

      &:after {
        content: "\f078";
      }

    }

  }

  .breadcrumb-submenu {
    margin-top: 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 3rem 0;
      width: 100%;

      > li {
        list-style: none;
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;

      }

    }

    a {
      display: block;
      text-decoration: none;
      color: $c-fixbar-gray;

      &:before {
        font-family: $fontawesome;
        content: "\f105";
        margin-left: 0.2rem;
        margin-right: 0.6rem;
      }

      &:hover {
        color: $c-black;
      }

    }

  }

}



.pagination {
  font-size: $font-size-basemed;
  width: 100%;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    font-size: $font-size-basemed-md;
  }

  @include media-breakpoint-down(sm) {
    font-size: $font-size-basemed-sm;
  }

  .page-item {
    flex-grow: 1;
    text-align: center;
  }

  .page-link {
    padding: 1rem;
    text-decoration: none;
    color: $c-gray;
    background: $c-white;
    border-radius: 0 !important;
    border-color: $color-border;
    font-size: $font-size-basemed;

    @include media-breakpoint-down(md) {
      font-size: $font-size-basemed-md;
    }

    @include media-breakpoint-down(sm) {
      font-size: $font-size-basemed-sm;
    }

    &:hover {
      color: $color-link-hover;
      background: $c-gray-bk;
    }

    i {
      font-size: $font-size-basemin;

      &.fa-chevron-left {
        margin-right: 0.8rem;
      }

      &.fa-chevron-right {
        margin-left: 0.8rem;
      }

    }

  }

  .page-item.active {

    .page-link {
      background: $c-gray;
      color: $c-white;
      font-weight: bold;
      border-color: $color-border;
      cursor: default;
    }

  }

  .page-item.disabled {

    .page-link {
      opacity: 0.5;
    }

  }

}



.span--dot {
  display: block;
  flex-grow: 1;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  min-height: 15px;
  background: url("../img/dot-h.png") left center repeat-x;
}


.dlv {
  margin: 0;
  border-top: 1px solid $color-border;

  @include media-breakpoint-down(md) {
    margin: 0 -20px;
  }

}


.e-exlclamation {

  &:before {
    font-family: $fontawesome;
    content: "\f06a";
    font-weight: 400;
    margin-right: 0.5rem;
  }

  &.e--blue:before {
    color: $c-blue;
  }

  &.e--red:before {
    color: $c-red;
  }

}


.img-inner {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 30%;
  min-width: 290px;

  @include media-breakpoint-only(xs) {
    width: 100%;
    margin-bottom: 1rem;
    max-width: 320px;
  }

  &.float-left {
    float: left;
    margin-right: 2rem;

    @include media-breakpoint-only(xs) {
      margin-left: auto;
      margin-right: auto;
      float: none !important;
    }

  }

  &.float-right {
    float: right;
    margin-left: 2rem;

    @include media-breakpoint-only(xs) {
      margin-left: auto;
      margin-right: auto;
      float: none !important;
    }

  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }

  p,
  figcaption {
    font-size: $font-size-basemed;
    line-height: $line-height;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;

    @include media-breakpoint-down(md) {
      font-size: $font-size-basemed-md;
    }

    @include media-breakpoint-down(sm) {
      font-size: $font-size-basemed-sm;
    }

    @include media-breakpoint-only(xs) {
      text-align: center;
    }

  }

}


.card {
  border-color: $color-border;
  border-radius: 0;
  margin: 2rem 0;
  background-color: transparent;

  @include media-breakpoint-only(xs) {
    margin: 1.5rem auto;
  }

  .card-header {
    font-weight: 600;
    color: $c-black;
    padding: 1rem 1rem 0.8rem 2rem;
    line-height: $line-height-min;
    background-color: $c-border;
    border-radius: 0;
    border-color: $color-border;

    @include media-breakpoint-only(xs) {
      padding: 0.8rem 1rem 0.6rem 1.5rem;
    }

  }

  .card-body {
    background-color: $color-bk-body;
    padding: 1.5rem 2rem 1rem 2rem;

    @include media-breakpoint-only(xs) {
      padding: 1.5rem 1.5rem 1rem 1.5rem;
    }

  }

  &--warn {
    border: solid 1px $c-red;

    .card-header {
      color: $c-white;
      border-color: $c-red;
      background-color: $c-red;
    }

  }

  &--info {
    border: solid 1px $c-blue;

    .card-header {
      color: $c-white;
      border-color: $c-blue;
      background-color: $c-blue;
    }

  }

}


