select:focus,
input:focus {
	outline: 1px dotted $c-gray-invert;
	outline-offset: -3px;
	border-color: $color-border;
}

input:invalid {
	border-color: transparentize($c-gray-light, 0.33);
}

label {
	color: $c-gray-light;
	font-size: $font-size-base;
	cursor: pointer;
	line-height: $line-height-min !important;
	//margin-bottom: 0.2rem !important;
	user-select: none;

	&.required:before {
		position: relative;
		top: -0.2rem;
		margin-right: 0.5rem;
		content: '\f069';
		color: $c-red;
		font-family: $fontawesome;
		font-size: $font-size-fixed-min;
		line-height: 1;
	}

	@include media-breakpoint-down(md) {
		font-size: $font-size-base-md;
	}

	@include media-breakpoint-down(sm) {
		font-size: $font-size-base-sm;
	}

}

@include placeholder {
	color: $color-placeholder;
}

select {
	cursor: pointer;
}

option {
	padding: 1rem !important;
}

input[type="search"] {
	-webkit-appearance: none;
	outline:none !important;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}

}

input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input[type="checkbox"] {
	width: 1.7rem;
	height: 1.7rem;
	min-width: 1.7rem;
	min-height: 1.7rem;
	margin: 0 0.8rem 0 0;
	position: relative;
}

input[type="radio"] {
	width: 1.7rem;
	height: 1.7rem;
	min-width: 1.7rem;
	min-height: 1.7rem;
	margin: 0 0.8rem 0 0;
	position: relative;
}


.form-group {
	margin-bottom: 2rem;
}

.form-group:last-child {
	margin-bottom: 0;
}

.form-group.row {
	align-items: center;
}

.form-control {
	font-size: $font-size-base;

	@include media-breakpoint-down(md) {
		font-size: $font-size-base-md;
	}

	@include media-breakpoint-down(sm) {
		font-size: $font-size-base-sm;
	}

}

.form-select {
	font-size: $font-size-base;
	padding-right: 2rem;

	@include media-breakpoint-down(md) {
		font-size: $font-size-base-md;
	}

	@include media-breakpoint-down(sm) {
		font-size: $font-size-base-sm;
	}

}

.form-check {
	display: flex;
	align-items: flex-start;
	padding: 0;

	label {
		font-size: $font-size-base;
		color: $c-gray;
		padding: 0 5px;
	}

	&:hover {

		label {
			color: $color-link-hover;
		}

	}

	.form-check-input {
		margin: 0;
		cursor: pointer;
	}

}

.label--l {	text-align: left; }
.label--r {	text-align: right; }

.form-check-inline {
	margin-right: 2rem;
	margin-left: 0;

	@include media-breakpoint-down(md) {
		margin-right: 1rem;
	}

}

.col-form-label {
	margin-top: 0.3rem;

	label {
		margin-bottom: 0 !important;
	}

}


.form-note {
	font-size: $font-size-basemed;
	color: $c-gray-light;
	margin-top: 2rem;
}



.inputnumber {
	display: flex;

	button {
		border: none;
		width: 3.4rem;
		height: 3.4rem;
		background: $c-gray-invert;
		color: $c-gray;
		opacity: 0.6;
		border-radius: $border-radius;

		&:hover {
			opacity: 1;
		}

	}

	input {
		border: none;
		text-align: center;
		width: 5rem;

		@include media-breakpoint-only(xs) {
			width: 4rem;
		}

	}

}



.input-switch {

	input[type=checkbox] {
		display: none;
	}

	label {
		cursor: pointer;
		text-indent: -9999px;
		width: 5.4rem;
		height: 2.8rem;
		background: $c-gray-light;
		display: block;
		border-radius: 2.8rem;
		position: relative;
		margin: 0;
		padding: 0;
	}

	label:after {
		content: '';
		position: absolute;
		top: 2px;
		left: 2px;
		width: 2.4rem;
		height: 2.4rem;
		background: #fff;
		border-radius: 2.4rem;
		transition: 0.3s;
	}

	input:checked + label {
		background: $color-link;
	}

	input:checked + label:after {
		left: calc(100% - 2px);
		transform: translateX(-100%);
	}

	label:active:after {
		width: 3rem;
	}

}


.div-form-check {
	margin-top: 2.5rem !important;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

	input[type="checkbox"] {
		margin: 0 1.5rem 0 0 ;
	}

	label {
		color: $c-gray;
		margin: 0;

		a {
			color: $c-black;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
				color: $color-link-hover;
			}

		}

	}

}

.div-form-btn {
	margin-top: 2.5rem !important;

	> button {
		margin-left: auto;
		margin-right: auto;
	}

}


















