// links



a {
	color: $color-link;
	transition: $transition-all;
	text-decoration: none;

	&:hover {
		color: $color-link-hover;
		text-decoration: underline;
	}

}

a[href^="tel"] {
	color: $c-gray;
	text-decoration: none !important;
	white-space: nowrap;
}

*:focus {
	outline: none !important;
	text-decoration: none !important;
	box-shadow: none !important;
}


.alink {
	display: inline-block;
	font-weight: 400;
	font-size: 2.1rem;

	@include media-breakpoint-down(lg) {
		font-size: 1.9rem;
	}

	@include media-breakpoint-down(md) {
		font-size: 1.7rem;
	}

	@include media-breakpoint-down(sm) {
		font-size: 1.5rem;
	}

	&:after {
		font-family: $fontawesome;
		font-size: 1.7rem;
		content: "\f054";
		margin-left: 0.8rem;

		@include media-breakpoint-down(md) {
			font-size: 1.5rem;
			margin-left: 0.6rem;
		}

		@include media-breakpoint-down(sm) {
			font-size: 1.4rem;
		}

	}

	&:hover {
		text-decoration: none;
	}

	&.aink--centered {
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	&.alink--centered-md {

		@include media-breakpoint-down(md) {
			display: block;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}

	}

}


.blink {
	display: block;
	font-weight: 500;
	font-size: $font-size-basemax;

	@include media-breakpoint-down(md) {
		font-size: $font-size-basemax-md;
	}

	@include media-breakpoint-down(sm) {
		font-size: $font-size-basemax-sm;
	}

	&:before {
		font-family: $fontawesome;
		content: "\f053";
		margin-right: 0.8rem;
	}

	&:hover {
		text-decoration: none;
	}

}


.link-telegram {
	display: block;
	margin: 0 auto 4rem auto;
	text-align: center;
	background: $c-blue url("../img/i-telegram.svg") right no-repeat;
	height: 41px;
	border: solid 3px $c-blue;
	border-radius: 40px;
	color: $c-white;
	line-height: 35px;
	padding: 0 41px 0 16px;

	@include media-breakpoint-down(sm) {
		margin-bottom: 2rem;
	}

	&:hover {
		background-color: $color-link-hover;
		border-color: $color-link-hover;
		color: $c-white;
		text-decoration: none;
	}

}


.link-blocklist {
	text-decoration: none !important;

	h3 {
		color: $color-hdr !important;
		transition: $transition-all;
	}

	&:hover, &:hover div {
		color: $color-text !important;

		h3 {
			color: $c-blue !important;
		}

	}



}