.table {
	margin-bottom: 4rem;
	color: $c-gray;
	border-color: $c-tool-border;

	@include media-breakpoint-down(sm) {
		margin-bottom: 2rem;
	}

	th {
		padding: 1.2rem;
		background-color: $c-tool-border;
		font-size: $font-size-basemed;
		font-weight: 600;
		border-left: solid 1px $c-white;

		@include media-breakpoint-down(md) {
			font-size: $font-size-basemed-md;
		}

		@include media-breakpoint-down(sm) {
			font-size: $font-size-basemed-sm;
		}

		@include media-breakpoint-only(xs) {
			padding: 1rem 0.5rem;
		}

		&:first-child {
			border-left: solid 1px $c-tool-border;
		}

		&:last-child {
			border-right: solid 1px $c-tool-border;
		}

	}

	td {
		padding: 1rem;
		background-color: $c-white;
		border-bottom: solid 1px $c-tool-border;
		border-left: solid 1px $c-white;
		overflow: hidden;

		@include media-breakpoint-down(md) {
			font-size: $font-size-basemed-md;
		}

		@include media-breakpoint-down(sm) {
			font-size: $font-size-basemed-sm;
		}

		@include media-breakpoint-only(xs) {
			padding: 1rem 0.5rem;
		}

		&:first-child {
			border-left: solid 1px $c-tool-border;
		}

		&:last-child {
			border-right: solid 1px $c-tool-border;
		}

	}

	&.table--hover tr:hover td {
		cursor: pointer;
		background-color: $c-gray-bk;
	}

}



.divtable {
	margin-bottom: 4rem;
	color: $c-gray;

	.dtrow {
		display: flex;
		flex-wrap: nowrap;
		align-content: center;
		border-bottom: solid 1px $c-tool-border;
		border-left: solid 1px $c-tool-border;
		border-right: solid 1px $c-tool-border;
		margin: 0;
		background-color: $c-white;

		@include media-breakpoint-down(sm) {
			display: block;
			border-top: solid 1px $c-tool-border;
			margin-bottom: -1px;
		}

		&:last-child {
			margin-bottom: -1px;
		}

		&.dtrow--th {
			border-left: none;
			border-right: none;

			@include media-breakpoint-down(sm) {
				display: none;
			}

		}

		&.dtrow--td {

		}

	}

	&.divtable--hovered {

		.dtrow--td:hover {
			cursor: pointer;

			> .dt-td {
				background-color: $c-gray-bk;
			}

		}

	}


	.dt-th {
		padding: 1.2rem;
		background-color: $c-tool-border;
		line-height: $line-height-min;
		font-size: $font-size-basemed;
		font-weight: 600;
		color: $c-gray;
		border-left: solid 1px $c-white;
		overflow: hidden;
		flex-grow: 2;
		width: 15%;

		@include media-breakpoint-down(md) {
			font-size: $font-size-basemed-md;
		}

		@include media-breakpoint-down(sm) {
			font-size: $font-size-basemed-sm;
		}

		@include media-breakpoint-only(xs) {
			padding: 1rem 0.5rem;
		}

		a {
			color: $c-gray;
			text-decoration: underline;

			&:hover {
				color: $color-link-hover;
				text-decoration: none;
			}

		}

		&:first-child {
			border-left: 0;
		}

	}

	.dt-td {
		padding: 1rem;
		line-height: $line-height-min;
		background: $c-white;
		flex-grow: 2;
		width: 15%;

		@include media-breakpoint-down(md) {
			font-size: $font-size-basemed-md;
		}

		@include media-breakpoint-down(sm) {
			font-size: $font-size-basemed-sm;
			display: block;
			width: auto;
			padding: 0.5rem 1rem;
			line-height: $line-height-min;
		}

		.dt-tt {
			display: none;

			@include media-breakpoint-down(sm) {
				display: block;
				line-height: $line-height-min;
				font-size: $font-size-basemin-sm;
				color: $c-gray-light;
				padding-bottom: 0.1rem;
			}

		}

	}

}

.td--left {text-align: left !important;}
.td--centered {text-align: center !important;}
.td--right {text-align: right !important;}

.tr--empty td {
	background: none !important;
	border: none !important;
	cursor: default !important;
	overflow: hidden;
}

.th--price,
.td--price {
	flex-grow: 1;
	text-align: right;

	@include media-breakpoint-down(sm) {
		text-align: left;
	}

}

.td--price {
	white-space: nowrap;


	i {
		font-size: 12px;
		margin-left: 0.3rem;
	}

}


