<div class="barbtm fixed-bottom">
<div class="container-fluid">

  <ul class="barbtm__contact">
    <li>
      <a href="tel:+74956462626" class="contact-tel">
        <div class="contact-ico hidden-md-up" title="Позвонить: +7 495 646-26-26"><img src="img/if-tel.svg" alt="Позвонить"></div>
        <span class="hidden-md-down">+7 495 <strong>646-26-26</strong></span>
      </a>
    </li>
    <li>
      <a href="mailto:info@gutewetter.ru" class="contact-email">
        <div class="contact-ico hidden-md-up" title="Написать: info@gutewetter.ru"><img src="img/if-email.svg" alt="Написать"></div>
        <span class="hidden-md-down">info@gutewetter.ru</span>
      </a>
    </li>
  </ul>

  <ul class="barbtm__soc">
    <li title="Вконтакте"><a href="#"><img src="img/if-socvk.svg" alt="Вконтакте"></a></li>
    <li title="Youtube"><a href="#"><img src="img/if-socyoutube.svg" alt="Youtube"></a></li>
    <li title="WhatsApp"><a href="#"><img src="img/if-socwhatsapp.svg" alt="WhatsApp"></a></li>
    <li title="Viber"><a href="#"><img src="img/if-socviber.svg" alt="Viber"></a></li>
    <li title="Telegram"><a href="#"><img src="img/if-soctg.svg" alt="Telegram"></a></li>
  </ul>
  
  <ul class="barbtm__tools hidden-xs">
    <li title="Вы смотрели"><a href="#"><img src="img/if-eye.svg" alt=""><span class="hidden-lg-down">Вы смотрели</span></a></li>
    <li title="Избранное"><a href="#"><img src="img/if-fav.svg" alt=""><span class="hidden-lg-down">Избранное</span></a></li>
    <li title="Сравнение"><a href="#"><img src="img/if-cmp.svg" alt=""><span class="hidden-lg-down">Сравнение</span></a></li>
  </ul>

  <div class="barbtm__cart" title="Ваша корзина">
    <a href="#"><img src="img/if-cart.svg" alt=""><span class="hidden-md-down">1 ед. 20 000 <i class="fal fa-ruble-sign"></i></span></a>
  </div>

</div>
</div>
