<footer class="footer">
<div class="container-fluid">

  <div class="row">
    <div class="col-6 col-md-3">
      <ul class="footer__menu">
        <li class="menu-hdr">Компания<span></span></li>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Партнерам</a></li>
        <li><a href="#">Где купить?</a></li>
        <li><a href="#">Контакты</a></li>
        <li>&nbsp;</li>
        <li><a href="#">Публичный договор-оферта</a></li>
        <li><a href="#">Политика конфиденциальности</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-3">
      <ul class="footer__menu">
        <li class="menu-hdr">Каталог<span></span></li>
        <li><a href="#">Душевые ограждения</a></li>
        <li><a href="#">Поддоны для душа</a></li>
        <li><a href="#">Фурнитура и комплектующие</a></li>
        <li><a href="#">Нестандартные решения</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-3">
      <ul class="footer__menu">
        <li class="menu-hdr">Сервис<span></span></li>
        <li><a href="#">Покраска</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Монтаж</a></li>
        <li><a href="#">Сервисное обслуживание</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-3">
      <ul class="footer__menu">
        <li class="menu-hdr">Профессионалам<span></span></li>
        <li><a href="#">Программы сотрудничества</a></li>
        <li><a href="#">Сертификаты</a></li>
        <li><a href="#">Для скачивания</a></li>
        <li><a href="#">Экспозиции</a></li>
        <li><a href="#">Видео</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">&nbsp;</div>
    <div class="col-md-6">
      <form class="footer__codesearch-form">
        <input id="fld_codesearch" class="ani--search-fld" type="search" placeholder="Поиск по коду товара">
        <input id="btn_codesearch" class="ani--search-btn" type="submit" value="Найти">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="footer__copy">
        &copy;&nbsp;2009—2023 Gutewetter.<br>
        Все права защищены.
      </div>
    </div>
    <div class="col-6">
      <a href="https://www.promoting.ru/" class="promoting" target="_blank" title="Сделано в МА Промотинг."><img src="img/promoting.png" alt="Маркетинговое агентство Promoting."></a>
    </div>
  </div>


</div>
</footer>