<div class="modal menucatalog fade" id="id_menucatalog" tabindex="-1">

 <div class="menucatalog__configurator">
   <a  href="#"><img src="img/ic-cog.svg" alt="">Конфигуратор индивидуальных изделий</a>
 </div>

  <div class="modal-dialog">
    <div class="modal-content">

      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">

            <div class="col-lg-3 col-sm-6">
              <div class="menucatalog__menu">
                <a href="#"><img src="img/ic-1.png" alt="Душевые ограждения"></a>
                <ul>
                  <li class="menu-hdr"><a href="#">Душевые ограждения</a></li>
                  <li><a href="#">Душевые перегородки</a></li>
                  <li><a href="#">Душевые уголки</a></li>
                  <li><a href="#">Двери в душевую нишу</a></li>
                  <li><a href="#">Шторки на ванну</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="menucatalog__menu">
                <a href="#"> <img src="img/ic-5.png" alt="Поддоны, трапы, сифоны"></a>
                <ul>
                  <li class="menu-hdr"><a href="#">Поддоны, трапы, сифоны</a></li>
                  <li><a href="#">Поддоны дли душа</a></li>
                  <li><a href="#">Квадратные трапы</a></li>
                  <li><a href="#">Линейные трапы</a></li>
                  <li><a href="#">Сифоны дли поддонов</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="menucatalog__menu">
                <a href="#"><img src="img/ic-6.png" alt="Фурнитура и комплектующие"></a>
                <ul>
                  <li class="menu-hdr"><a href="#">Фурнитура и комплектующие</a></li>
                  <li><a href="#">Петли</a></li>
                  <li><a href="#">Ручки</a></li>
                  <li><a href="#">Профиль</a></li>
                  <li><a href="#">Ролики</a></li>
                  <li><a href="#">Уплотнители PVC</a></li>
                  <li><a href="#">Защитные уголки</a></li>
                </ul>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6">
              <div class="menucatalog__menu">
                <a href="#"><img src="img/ic-10.png" alt="Душевые ограждения по индивидуальным размерам"></a>
                <ul>
                  <li class="menu-hdr"><a href="#">Душевые ограждения по индивидуальным размерам</a></li>
                  <li><a href="#">Душевые уголки по индивидуальным размерам</a></li>
                  <li><a href="#">Двери в душевую нишу по индивидуальным размерам</a></li>
                  <li><a href="#">Душевые перегородки по индивидуальным размерам</a></li>
                  <li><a href="#">Стеклянные шторки на ванну по индивидуальным размерам</a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>





