<nav class="menumain collapse fade hidden-md-up" id="id_menumain-md">
<div class="container-fluid">


  <div class="menumain__contact">
    <a href="tel:+74956462626" class="contact-tel">+7 495 <strong>646-26-26</strong></a></li>
    <a href="mailto:info@gutewetter.ru" class="contact-email">info@gutewetter.ru</a>
    <ul class="contact-soc">
      <li title="Вконтакте"><a href="#"><img src="img/if-socvk.svg" alt="Вконтакте"></a></li>
      <li title="Youtube"><a href="#"><img src="img/if-socyoutube.svg" alt="Youtube"></a></li>
      <li title="WhatsApp"><a href="#"><img src="img/if-socwhatsapp.svg" alt="WhatsApp"></a></li>
      <li title="Viber"><a href="#"><img src="img/if-socviber.svg" alt="Viber"></a></li>
      <li title="Telegram"><a href="#"><img src="img/if-soctg.svg" alt="Telegram"></a></li>
    </ul>
 </div>


  <form class="menumain__search">
    <input type="submit" class="search-btn" title="Найти" value="">
    <input id="fld_search" type="search" placeholder="Найти на сайте">
  </form>


  <hr>


  <div class="menumain__regionuser">
    <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#id_menuregion"><i class="fal fa-map-marker-alt"></i>Набережные Челны
    </a>
    <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#id_modal-login">
      <i class="fal fa-user-circle"></i>Личный кабинет
    </a>
  </div>


  <hr>


  <nav class="menumain__nav" id="id_menumain">


    <div class="menu-item">
      <a href="#" id="id_menu-item-menucatalog"><strong>Каталог продукции</strong></a>
    </div>

    <div class="menu-item">
      <a href="#">Где купить?</a>
    </div>

    <div class="menu-item">
      <button id="id_b-mainmenu-partner" class="i--drop collapsed" data-bs-toggle="collapse" data-bs-target="#id_mainmenu-partner" aria-expanded="false">Партнерам</button>
      <ul id="id_mainmenu-partner" class="menu-item__submenu collapse" data-bs-parent="#id_menumain" aria-labelledby="id_b-mainmenu-partner">
        <li><a href="#">Программы сотрудничества</a></li>
        <li><a href="#">Сертификаты</a></li>
        <li><a href="#">Для скачивания</a></li>
        <li><a href="#">Экспозиции</a></li>
        <li><a href="#">Видео</a></li>
      </ul>
    </div>

    <div class="menu-item">
      <button id="id_b-mainmenu-company" class="i--drop collapsed" data-bs-toggle="collapse" data-bs-target="#id_mainmenu-company" aria-expanded="false">Компания</button>
      <ul id="id_mainmenu-company" class="menu-item__submenu collapse" data-bs-parent="#id_menumain" aria-labelledby="id_b-mainmenu-company">
        <li><a href="#" class="dropdown-item">Новости</a></li>
        <li><a href="#" class="dropdown-item">Выставки</a></li>
        <li><a href="#" class="dropdown-item">Портфолио</a></li>
        <li><a href="#" class="dropdown-item">Пресса о нас</a></li>
        <li><a href="#" class="dropdown-item">Партнерам</a></li>
        <li><a href="#" class="dropdown-item">Где купить?</a></li>
        <li><a href="#" class="dropdown-item">Контактная информация</a></li>
      </ul>
    </div>


    <div class="menu-item">
      <button id="id_b-mainmenu-service" class="i--drop collapsed" data-bs-toggle="collapse" data-bs-target="#id_mainmenu-service" aria-expanded="false">Сервис</button>
      <ul id="id_mainmenu-service" class="menu-item__submenu collapse" data-bs-parent="#id_menumain" aria-labelledby="id_b-mainmenu-service">
        <li><a href="#" class="dropdown-item">Покраска</a></li>
        <li><a href="#" class="dropdown-item">Доставка</a></li>
        <li><a href="#" class="dropdown-item">Монтаж</a></li>
        <li><a href="#" class="dropdown-item">Сервисное обслуживание</a></li>
      </ul>
    </div>

  </nav>


  <hr>


  <div class="menumain__tools">

    <ul class="tools-tool">
      <li><a href="#"><img src="img/if-eye.svg" alt="">Вы смотрели</a></li>
      <li><a href="#"><img src="img/if-fav.svg" alt="">Избранное</a></li>
      <li><a href="#"><img src="img/if-cmp.svg" alt="">Сравнение</a></li>
    </ul>

    <div class="tools-cart" title="Ваша корзина">
      <a href="#"><img src="img/if-cart.svg" alt="">1 ед. 20 000 <i class="fal fa-ruble-sign"></i></a>
    </div>

  </div>



</div>
</nav>




