<div class="modal menucatalog fade" id="id_menucatalog" tabindex="-1">

  <a  href="#" class="menucatalog__configurator"><img src="img/ic-cog.svg" alt="">Конфигуратор индивидуальных изделий</a>

  <div class="modal-dialog">
    <div class="modal-content">

      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="menucatalog__menu">
                <img src="img/ic-1.png" alt="Душевые ограждения">
                <ul>
                  <li class="menu-hdr">Душевые ограждения</li>
                  <li><a href="#">Душевые перегородки</a></li>
                  <li><a href="#">Душевые уголки</a></li>
                  <li><a href="#">Двери в душевую нишу</a></li>
                  <li><a href="#">Шторки на ванну</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="menucatalog__menu">
                <img src="img/ic-5.png" alt="Поддоны для душа">
                <ul>
                  <li class="menu-hdr">Поддоны для душа</li>
                  <li><a href="#">Квадратные</a></li>
                  <li><a href="#">Четверть круга</a></li>
                  <li><a href="#">Пятиугольные</a></li>
                  <li><a href="#">Прямоугольные</a></li>
                  <li><a href="#">Полукруглые</a></li>
                  <li><a href="#">Сифоны для поддонов</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="menucatalog__menu">
                <img src="img/ic-6.png" alt="Фурнитура и комплектующие">
                <ul>
                  <li class="menu-hdr">Фурнитура и комплектующие</li>
                  <li><a href="#">Стекла</a></li>
                  <li><a href="#">Петли</a></li>
                  <li><a href="#">Ручки</a></li>
                  <li><a href="#">Профиль</a></li>
                  <li><a href="#">Ролики</a></li>
                  <li><a href="#">Полистирол</a></li>
                  <li><a href="#">Уплотнители PVC</a></li>
                  <li><a href="#">Уголки для защиты стекла</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="menucatalog__menu">
                <img src="img/ic-7.png" alt="Нестандартные решения">
                <ul>
                  <li class="menu-hdr">Нестандартные решения</li>
                  <li><a href="#">Фотогалерея</a></li>
                  <li><a href="#">Анимации</a></li>
                  <li><a href="#">Виды сверху</a></li>
                  <li><a href="#">Чертежи фурнитуры></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>





