<div class="modal menuregion fade" id="id_menuregion" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">

        <div class="container-fluid">
          <div class="menuregion__hdr">Набережные Челны</div>
          <form class="menuregion__search" name="menuregion__search-form">
            <input type="submit" class="b_menuregion__search" title="Найти" value="">
            <input type="search" class="fld_menuregion__search" placeholder="Поиск по городу">
          </form>
        </div>

        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>

      </div>


      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6">
              <ul>
                <li class="lither">A</li>
                <li><a href="#">Абакан</a></li>
                <li><a href="#">Анапа</a></li>
                <li><a href="#">Арзамас</a></li>
                <li><a href="#">Архангельск</a></li>
              </ul>
              <ul>
                <li class="lither">Б</li>
                <li><a href="#">Балаково</a></li>
                <li><a href="#">Барнаул</a></li>
                <li><a href="#">Белгород</a></li>
                <li><a href="#">Бийск</a></li>
                <li><a href="#">Брянск</a></li>
              </ul>
              <ul>
                <li class="lither">В</li>
                <li><a href="#">Владикавказ</a></li>
                <li><a href="#">Владимир</a></li>
                <li><a href="#">Волгоград</a></li>
                <li><a href="#">Волоколамск</a></li>
                <li><a href="#">Воронеж</a></li>
              </ul>
              <ul>
                <li class="lither">Д</li>
                <li><a href="#">Дзержинск</a></li>
                <li><a href="#">Домодедово</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
              <ul>
                <li class="lither">Е</li>
                <li><a href="#">Егорьевск</a></li>
                <li><a href="#">Екатеринбург</a></li>
              </ul>
              <ul>
                <li class="lither">Ж</li>
                <li><a href="#">Жуковский</a></li>
              </ul>
              <ul>
                <li class="lither">З</li>
                <li><a href="#">Зеленоград</a></li>
              </ul>
              <ul>
                <li class="lither">И</li>
                <li><a href="#">Иваново</a></li>
                <li><a href="#">Ивантеевка</a></li>
                <li><a href="#">Ижевск</a></li>
              </ul>
              <ul>
                <li class="lither">К</li>
                <li><a href="#">Казань</a></li>
                <li><a href="#">Калининград</a></li>
                <li><a href="#">Калуга</a></li>
                <li><a href="#">Киров</a></li>
                <li><a href="#">Клинцы</a></li>
                <li><a href="#">Коломна</a></li>
                <li><a href="#">Королев</a></li>
                <li><a href="#">Кострома</a></li>
                <li><a href="#">Краснодар</a></li>
                <li><a href="#">Красноярск</a></li>
                <li><a href="#">Курск</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
              <ul>
                <li class="lither">Л</li>
                <li><a href="#">Липецк</a></li>
                <li><a href="#">Лукоянов</a></li>
                <li><a href="#">Люберцы</a></li>
              </ul>
              <ul>
                <li class="lither">М</li>
                <li><a href="#">Магадан</a></li>
                <li><a href="#">Москва</a></li>
                <li><a href="#">Мурманск</a></li>
              </ul>
              <ul>
                <li class="lither">Н</li>
                <li><a href="#">Нефтеюганск</a></li>
                <li><a href="#">Нижний Новгород</a></li>
                <li><a href="#">Новокузнецк</a></li>
                <li><a href="#">Новосибирск</a></li>
                <li><a href="#">Новый Уренгой</a></li>
                <li><a href="#">Норильск</a></li>
                <li><a href="#">Нягань</a></li>
              </ul>
              <ul>
                <li class="lither">О</li>
                <li><a href="#">Обнинск</a></li>
                <li><a href="#">Одинцово</a></li>
                <li><a href="#">Омск</a></li>
                <li><a href="#">Орел</a></li>
                <li><a href="#">Орехово-Зуево</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
              <ul>
                <li class="lither">П</li>
                <li><a href="#">Пенза</a></li>
                <li><a href="#">Подольск</a></li>
                <li><a href="#">Пугачев</a></li>
                <li><a href="#">Пурпе</a></li>
                <li><a href="#">Пятигорск</a></li>
              </ul>
              <ul>
                <li class="lither">Р</li>
                <li><a href="#">Ростов-на-Дону</a></li>
                <li><a href="#">Рыбинск</a></li>
                <li><a href="#">Рязань</a></li>
              </ul>
              <ul>
                <li class="lither">С</li>
                <li><a href="#">Самара</a></li>
                <li><strong>Санкт-Петербург</strong></li>
                <li><a href="#">Саранск</a></li>
                <li><a href="#">Сарапул</a></li>
                <li><a href="#">Саратов</a></li>
                <li><a href="#">Сафоново</a></li>
                <li><a href="#">Севастополь</a></li>
                <li><a href="#">Симферополь</a></li>
                <li><a href="#">Сочи</a></li>
                <li><a href="#">Ставрополь</a></li>
                <li><a href="#">Стрежевой</a></li>
                <li><a href="#">Сыктывкар</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
              <ul>
                <li class="lither">Т</li>
                <li><a href="#">Тверь</a></li>
                <li><a href="#">Тольятти</a></li>
                <li><a href="#">Тула</a></li>
                <li><a href="#">Тюмень</a></li>
              </ul>
              <ul>
                <li class="lither">У</li>
                <li><a href="#">Удомля</a></li>
                <li><a href="#">Ульяновск</a></li>
                <li><a href="#">Уфа</a></li>
                <li><a href="#">Ухта</a></li>
              </ul>
              <ul>
                <li class="lither">Х</li>
                <li><a href="#">Ханты-Мансийск</a></li>
                <li><a href="#">Химки</a></li>
              </ul>
              <ul>
                <li class="lither">Ч</li>
                <li><a href="#">Чебоксары</a></li>
                <li><a href="#">Челябинск</a></li>
                <li><a href="#">Череповец</a></li>
              </ul>
              <ul>
                <li class="lither">Щ</li>
                <li><a href="#">Щелково</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
              <ul>
                <li class="lither">Ю</li>
                <li><a href="#">Югорск</a></li>
                <li><a href="#">Южно-Сахалинск</a></li>
              </ul>
              <ul>
                <li class="lither">Я</li>
                <li><a href="#">Ярославль</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
