<div class="modal fade" id="id_modal-login" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3>Авторизация</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть окно"></button>
      </div>

      <div class="modal-body">
        <form name="fm_user-auth">
          <div class="form-group row">
            <label for="fm_user-auth__login" class="col-sm-4">Ваш e-mail:</label>
            <div class="col-sm-8"><input type="email" name="login" id="fm_user-auth__login" class="form-control"></div>
          </div>
          <div class="form-group row">
            <label for="fm-user-auth__password" class="col-sm-4">Ваш пароль:</label>
            <div class="col-sm-8"><input type="password" name="password" id="fm-user-auth__password" class="form-control">
          </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
              <button class="b-btn">Войти</button>
          </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8 clearfix">
              <a href="#">Забыли пароль?</a>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>



<div class="modal fade" id="id_modal-consult"  tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3>Заказать консультацию</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть окно"></button>
      </div>

      <div class="modal-body">
        <p class="modal-body__note">Заполнив форму ниже, Вы можете быть уверены, что мы свяжемся с Вами.</p>
        <form name="fm-consult" id="fm-consult" rel="order_form" role="form" method="post" autocomplete="off">
          <div class="form-group">
            <label for="fm-consult__name">Ваше имя</label>
            <input type="text" name="name" id="fm-consult__name" class="form-control input-lg">
          </div>
          <div class="form-group">
            <label for="fm-consult__phone">Ваш телефон</label>
            <input type="tel" name="phone" id="fm-consult__phone" class="form-control input-lg">
          </div>
          <div class="form-group">
            <label for="fm-consult__note">Комментарий</label>
            <textarea name="note" id="fm-consult__note" class="form-control" rows="3" maxlength="1000"></textarea>
          </div>
          <div class="form-group row">
            <div class="col">
              <div id="fm-consult__conditions" class="form-check form-field-container">
                <input type="checkbox" name="conditions" id="fm-consult__conditions-checkbox" value="1" class="form-check-input">
                <label for="fm-consult__conditions-checkbox" class="form-check-label modal-body__note">
                  Я даю свое согласие на обработку персональных данных согласно
                  <a href="/privacy-policy/" target="_blank">Политике конфиденциальности</a>.
                </label>
              </div>
            </div>
          </div>
          <button type="submit" name="b-submit__consult" class="b-btn b--centered">Заказать консультацию</button>
        </form>
      </div>

    </div>
  </div>
</div>