
<div class="modal fade" id="id_modal-pageclose" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">


        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть окно"></button>


      <div class="modal-body">
        <h2>Не торопитесь уходить!</h2>
        <h3>Вы искали душевое ограждение на заказ по индивидуальным размерам?</h3>
        <p>Мы проконсультируем вас бесплатно и без каких бы то ни было обязательств для вас – просто позвоните нам по телефону <a href="tel:88004442566"><strong>8&nbsp;800&nbsp;444-25-66</strong></a> или <a	href="mailto: info@gutewetter.ru">напишите&nbsp;нам</a>.</p>
        <form role="form" action="" name="fm-pageclose" id="fm-pageclose">
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="fld-cname">Ваше имя:</label>
              <input type="text" id="fld-cname" class="form-control input-lg">
            </div>
            <div class="form-group col-sm-6">
              <label for="fld-ctel">Ваш телефон:</label>
              <input type="tel" id="fld-ctel" class="form-control input-lg">
            </div>
          </div>
          <button type="submit" name="b-submit__consult" class="b-btn b--centered" data-bs-dismiss="modal">Заказать консультацию</button>
        </form>
      </div>


    </div>
  </div>
</div>